body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

h1{
    font-family: sans-serif;
    text-align: center;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

form {
    background-color: #222;
    padding: 100px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
}

input, select {
    display: block;
    width: 80%;         
    margin: 0 auto 20px auto;  
    padding: 10px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    color: white;
    text-align: center;
}

button {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #777;
}
